<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl overflow-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16 ">
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:ml-[18rem]">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6 ">
          <h1 class=" md:w-full text-center mx-auto text-5xl font-medium text-accentstrong lg:text-6xl pb-0 lg:pb-0 leading-tight lg:pt-12">
            <span class="hidden lg:block">Dobrodošli u PediMED</span>
            <span class="block  -ml-[3rem] md:ml-0  lg:hidden -mb-12">Dobrodošli</span><br>
            <span class="block lg:hidden -mb-12 ">u</span><br>
            <span class="block -mr-[3rem] md:mr-0 lg:hidden ">PediMED</span>
          </h1>
          <p class="px-3 text-base pl-[12vw] md:prose-none md:w-full text-black md:text-2xl md:pl-[8rem] pb-4 pt-2 md:pt-0 lg:-mt-8 md:pb-12 md:min-w-full  text-left ">
            Salon za vrhunsku njegu vaših stopala.<br /> Za žene, za muškarce, za radnike, za
            starije... za VAS 💎✨
          </p>
        </div>
        <a
          href="/kontakt"
          class=" px-12 text-base lg:px-24 lg:text-xl mx-auto flex items-center justify-center rounded-full border border-transparent bg-accent hover:bg-accentstrong py-3  font-medium text-white  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
        >
          NARUČITE SE
        </a>
        <a
          href="/cijene"
          class="-mt-4 mb-4 text-base px-12 lg:px-24 lg:text-xl mx-auto flex items-center justify-center rounded-full border border-black bg-slate-500 hover:bg-accentstrong py-1  font-medium text-black  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
        >
          Cijene
        </a>
      </div>
      <div class="flex max-w-2xl flex-col gap-6 lg:flex-row">
        <img class="w-auto rounded-3xl" src="/assets/salon.jpeg" alt="Hero picture" /><img
          class="w-auto rounded-3xl"
          src="/assets/mrkopalj2.png"
          alt="Hero picture"
        />
      </div>
    </div>
  </div>
</section>
